body {
    margin: 0;
    font-family: "Montserrat";
    color: #0B1C3C;
    height: 110vh;
}

a {
    text-decoration: none;
    color: white;
}



#logo {
    box-sizing: border-box;
    height: 50px;
    padding: 8px 0px 8px 0px;
}

.nav-btn {
    height: 100%;
    width: auto;

    padding: 0px 10px 0px 10px;

    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn:hover {
    background-color: #0D41A0;
    cursor: pointer;
}

.centraliza-text {
    display: block;
}

nav{
    width: 100%;
    height: 60px;
    background-color: #0B1C3C;

    display: flex;
    align-items: center;

    border-bottom: 2px solid #0D41A0;
}

#header-bg {
    width: 100%;
    height: 320px;
    
    object-fit: none;
}

main {
    padding-top: 50px;
    padding-left: 20%;
    padding-right: 20%;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-dark {
    width: 30%;
}
#logo-text {
    width: 70%;
}

#container-informacao {
    width: 100%;
    margin: auto;
}

footer {
    background-color: #266CED;
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#integrantes {
    color: #FFFFFF;
}